{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}

<div class="container">
	<div class="jumbotron">
        <h1>Success!</h1> 
        <p class="text-info">Thank you for signing up.</p> 
        <p class="text-info">please check your email to activate your account.</p> 
    </div>
    <div class="text-center">
        <a href="/login" class="btn btn-lg btn-primary" >Log in</a>
        <a class="btn btn-lg btn-warning" href="/" >Home</a>
    </div>
</div>

{% endblock %}